h2 {
  color: #000;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
  font-family: Inter, sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 36px;
}

.container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.nav {
  width: 100vw;
  height: 80px;
  color: #fff;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  position: fixed;
}

.div-block {
  width: 700px;
  display: flex;
}

.socials {
  width: 200px;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.list {
  flex: 1;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
}

.hero {
  width: 90%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-2 {
  width: 95%;
  height: 60%;
  display: flex;
}

.div-block-3 {
  width: 60%;
  flex-direction: column;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-4 {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.bg-image {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
}

.heading {
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 60px;
  font-weight: 600;
  line-height: 90px;
}

.div-block-5 {
  width: 70%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.section {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 200px;
  display: flex;
}

.section.blue-bg {
  background-color: #ebf1ff;
}

.feature {
  width: 30%;
  height: 600px;
  background-color: #ebf1ff;
  border-radius: 15px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
}

.feature-text {
  width: 70%;
  color: #000;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 32px;
}

.feature-title {
  color: #000;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.plan-card {
  width: 30%;
  height: 500px;
  background-color: #fff;
  border-radius: 25px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 5%;
  display: flex;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
}

.image {
  min-width: 120vw;
}

.sub-hero {
  color: #7c7c7c;
  text-align: left;
  align-self: flex-start;
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}

.div-block-6 {
  width: auto;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.button {
  width: 220px;
  height: 70px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 24px;
  display: flex;
}

.button.primary {
  color: #000;
  background-color: #8fb3ff;
  font-family: Inter, sans-serif;
  font-weight: 400;
  box-shadow: 0 3px 2px rgba(0, 0, 0, .2);
}

.button.secondary {
  color: #fff;
  background-color: #d41d6d;
  font-family: Inter, sans-serif;
  font-weight: 400;
  box-shadow: 0 3px 2px rgba(0, 0, 0, .2);
}

.feature-img {
  height: 130px;
  margin-top: 12%;
}

.div-block-7 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.plan-title {
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
}

.plan-especification {
  color: #000;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}

.plan-list {
  width: 80%;
  flex-direction: column;
  display: flex;
}

.button-sm {
  width: 150px;
  height: 60px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 18px;
  display: flex;
}

.button-sm.se {
  color: #000;
  background-color: #8fb3ff;
  font-family: Inter, sans-serif;
  font-weight: 400;
  box-shadow: 0 3px 2px rgba(0, 0, 0, .2);
}

.button-sm.secondary {
  color: #fff;
  background-color: #d41d6d;
  font-family: Inter, sans-serif;
  font-weight: 400;
  box-shadow: 0 3px 2px rgba(0, 0, 0, .2);
}

.button-sm.submit {
  align-self: center;
  margin-top: 10px;
}

.plan-price {
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
}

.div-block-8 {
  width: 70%;
  height: 600px;
  background-color: #ebf1ff;
  border-radius: 40px;
  display: flex;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, .2);
}

.div-block-9 {
  width: 40%;
  background-color: #8fb3ff;
  border-radius: 40px 0 0 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.contact-title {
  margin-top: 0;
  margin-bottom: 40px;
}

.contact-sub {
  color: #000;
  margin-bottom: 20px;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-decoration: underline;
}

.text-block {
  width: 70%;
  color: #000;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 20%;
  font-size: 18px;
}

.div-block-10 {
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.input-half {
  width: 90%;
  border-radius: 10px;
  margin-right: 5%;
}

.form-block {
  width: 90%;
}

.div-block-11 {
  flex-direction: column;
  display: flex;
}

.div-block-12 {
  display: flex;
}

.label-half {
  flex: 1;
}

.div-block-13 {
  justify-content: flex-start;
  display: flex;
}

.input-half-copy {
  width: 45%;
  margin-right: 5%;
}

.text-field {
  width: 95%;
  border-radius: 10px;
}

.comment-field {
  width: 95%;
  height: 150px;
  border-radius: 10px;
}

.field-label, .field-label-2, .field-label-3, .field-label-4 {
  font-family: Inter, sans-serif;
}

.form {
  flex-direction: column;
  display: flex;
}

.link {
  color: #000;
  letter-spacing: 4px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

.div-block-14 {
  width: 400px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-2 {
  height: 80px;
  transform: translate(0, -7px);
}

.image-3 {
  width: auto;
  height: 90px;
  transform: translate(0, -5px);
}

.image-4 {
  height: 60px;
  transform: translate(0, -5px);
}

.link-block {
  height: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.social-logo {
  max-height: 100%;
}

.social-logo.twitter {
  height: 40px;
  max-height: none;
}

.navbar {
  display: none;
}

.nav-shadow {
  width: 100vw;
  height: 80px;
  color: #fff;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  position: fixed;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
}

.image-5 {
  max-height: 100%;
  transform: translate(0, -5px);
}

.div-block-15 {
  height: 80px;
  max-height: 80px;
}

.hover-social {
  z-index: -1;
  height: 30px;
  max-height: 100%;
  position: absolute;
}

.hover-social.twitter {
  height: 40px;
  max-height: none;
}

.hover-social.twitter-hover {
  height: 35px;
}

.link-block-2 {
  height: 80px;
}

@media screen and (max-width: 991px) {
  .container {
    color: #000;
  }

  .div-block {
    display: none;
  }

  .div-block-3 {
    width: 100%;
  }

  .div-block-4 {
    display: none;
  }

  .heading {
    text-align: center;
  }

  .div-block-5 {
    width: 100%;
    flex-direction: column;
  }

  .feature {
    width: 60%;
    margin-bottom: 60px;
  }

  .plan-card {
    width: 50%;
    margin-bottom: 40px;
  }

  .sub-hero {
    text-align: center;
    align-self: center;
  }

  .div-block-6 {
    flex-direction: column;
  }

  .button.primary {
    margin-bottom: 20px;
  }

  .div-block-8 {
    height: 800px;
    flex-direction: column;
  }

  .div-block-9 {
    width: 100%;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 0;
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .text-block {
    margin-bottom: 10%;
  }

  .navbar {
    color: #000;
    background-color: #fff;
    display: block;
  }

  .menu-button {
    color: #000;
    background-color: #fff;
    flex: 0 auto;
    align-self: flex-end;
  }

  .container-2 {
    width: 100px;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .mobile-nav {
    width: auto;
    color: #000;
    background-color: #fff;
  }

  .nav-menu {
    background-color: #fff;
    border: 1px solid #d1d1d1;
  }
}

@media screen and (max-width: 767px) {
  .heading {
    font-size: 48px;
  }

  .div-block-8 {
    height: auto;
  }

  .div-block-10 {
    flex: 0 auto;
  }

  .input-half {
    width: 95%;
  }

  .div-block-12, .div-block-13 {
    flex-direction: column;
  }
}

@media screen and (max-width: 479px) {
  .heading {
    font-size: 40px;
  }

  .feature {
    width: 90%;
  }

  .plan-card {
    width: 80%;
  }
}


