a {
  text-decoration: underline;
}

.div-block {
  width: 80%;
  height: 100vh;
  background-color: rgba(189, 169, 169, 0);
  flex-direction: column;
  justify-content: center;
  display: flex;
  position: static;
}

.div-block.container {
  margin-top: -48px;
  transform: translate(0, 35px);
}

.image {
  max-height: 100%;
  flex: 0 auto;
  order: 0;
  align-self: auto;
  position: static;
}

.image.bg-image {
  z-index: -1;
  align-self: center;
  position: absolute;
}

.image-2 {
  max-height: 100%;
  max-width: 90%;
  text-align: left;
  object-fit: fill;
  align-self: center;
  margin-top: 0%;
  padding-top: 0%;
  position: static;
  transform: translate(0, -45px);
}

.body {
  max-height: 100vh;
  max-width: 100vw;
  background-color: #3a3a3a;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.div-block-2 {
  width: 90%;
  height: 70px;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  display: flex;
  position: fixed;
}

.message {
  color: #fff;
  margin-bottom: 0;
  font-family: Lexend Zetta, sans-serif;
  font-size: 18px;
}

.link {
  width: auto;
  color: #d2ac60;
  align-self: auto;
  margin-top: 0;
  font-family: Lexend Zetta, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  text-decoration: none;
  position: static;
}

.list {
  width: 600px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
}

.nav-link {
  color: #d2ac60;
  font-family: Lexend Zetta, sans-serif;
  list-style-type: none;
}

.link-2, .link-3, .link-4, .link-5 {
  color: #d2ac60;
  font-size: 24px;
  text-decoration: none;
}

.div-block-3 {
  width: 300px;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  align-self: flex-end;
  align-items: center;
  display: flex;
  overflow: visible;
  transform: translate(40px, -92px);
}

.image-3 {
  margin-top: -13px;
  transform: translate(12px);
}

.navbar-logo-left-container {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
}

.navbar-logo-left-container.shadow-three {
  width: 100%;
  max-width: 1140px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  display: none;
}

.container {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-menu-two {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-link-2 {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-2:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-link-2:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link-2[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-divider {
  width: 1px;
  height: 22px;
  background-color: #e4ebf3;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-link-accent {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-accent:hover {
  color: rgba(26, 27, 31, .75);
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.navbar {
  display: none;
}

@media screen and (max-width: 991px) {
  .div-block.container {
    align-items: center;
    transform: none;
  }

  .image.bg-image {
    width: auto;
    max-height: none;
    max-width: none;
    min-height: 100vh;
  }

  .image-2 {
    width: 90vw;
    max-height: none;
    max-width: none;
    transform: translate(0);
  }

  .message {
    width: 200px;
    color: #000;
    text-align: center;
    order: 2;
  }

  .link {
    color: #000;
    flex: 1;
    align-self: center;
    text-decoration: underline;
    transform: translate(0, -300px);
  }

  .list {
    display: none;
  }

  .div-block-3 {
    color: #000;
    order: 1;
    align-self: center;
    transform: translate(0, 470px);
  }

  .image-3 {
    display: none;
  }

  .container {
    max-width: 728px;
  }

  .nav-menu-wrapper {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-menu-two {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-link-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .navbar {
    z-index: 99999;
    background-color: rgba(255, 255, 255, 0);
    display: block;
  }

  .icon {
    background-color: #3a3a3a;
  }

  .menu-button-2 {
    color: #d2ac60;
    background-color: #3a3a3a;
    border-radius: 10px;
  }

  .nav-link-3 {
    color: #d2ac60;
    background-color: #3a3a3a;
    font-family: Lexend Zetta, sans-serif;
  }

  .nav-menu {
    background-color: #3a3a3a;
  }

  .container-2 {
    width: 100px;
    background-color: #3a3a3a;
  }

  .nav-link-4, .nav-link-5, .nav-link-6 {
    color: #d2ac60;
    background-color: #3a3a3a;
    font-family: Lexend Zetta, sans-serif;
  }
}

@media screen and (max-width: 767px) {
  .image.bg-image {
    width: auto;
  }

  .message {
    transform: translate(0, 40px);
  }

  .navbar-logo-left-container {
    max-width: 100%;
  }

  .navbar-brand {
    padding-left: 0;
  }

  .nav-menu-two {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-link-2 {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-divider {
    width: 200px;
    height: 1px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-link-accent {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }
}

@media screen and (max-width: 479px) {
  a {
    color: #d2ac60;
  }

  .image.bg-image {
    width: auto;
  }

  .image-2 {
    transform: translate(0, -83px);
  }

  .body {
    min-height: 100vh;
    overflow: hidden;
  }

  .container {
    max-width: none;
  }

  .nav-menu-two {
    flex-direction: column;
  }

  .navbar {
    background-color: #3a3a3a;
  }

  .icon {
    color: #d2ac60;
  }

  .nav-link-3 {
    z-index: 999;
    color: #d2ac60;
    background-color: #3a3a3a;
    font-family: Lexend Zetta, sans-serif;
    transform: translate(0);
  }

  .nav-menu {
    background-color: #3a3a3a;
  }

  .container-2 {
    width: 100px;
    color: #d2ac60;
    background-color: #3a3a3a;
    font-family: Lexend Zetta, sans-serif;
  }

  .nav-link-4, .nav-link-5, .nav-link-6 {
    z-index: 999;
    color: #d2ac60;
    font-family: Lexend Zetta, sans-serif;
  }
}


/* EDITED 
- Logo id
- Logo onclick reload
- Change favicon (from x-icon.png to logo)
- CSS below
*/

.div-block-2 {
  z-index: 999999999;
}

.link-5, .link-2, .link-3, .link-4 {
  position: relative;
  z-index: 9999;
}

.link-5::before, .link-2::before, .link-3::before, .link-4::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #D2AC60;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.link-5:hover::before, .link-2:hover::before, .link-3:hover::before, .link-4:hover::before {
  transform: scaleX(1);
}

#logo {
  cursor: pointer;
}